@{
    ViewBag.Title = "";
}

<h1>Administrateur</h1>
<br />

<div class=" col-md-2 col-sm-2">
    <div class="thumbnail">
        <a href="/Categories/Index">
            <img src="~/Content/img/Categorie.png" computer man" style="width:50px;height:50px">
            <h6>Gérer les Categorie !</h6>
        </a>
    </div>
</div>

<div class=" col-md-2 col-sm-2">
    <div class="thumbnail">
        <a href="/Types/Index">
            <img src="~/Content/img/Type.png" computer man" style="width:50px;height:50px">
            <h6>Gérer les Types !</h6>
        </a>
    </div>
</div>

<div class=" col-md-2 col-sm-2">
    <div class="thumbnail">
        <a href="/Produit/Lister">
            <img src="~/Content/img/Produit.png" computer man" style="width:50px;height:50px">
            <h6>Gérer les Produits !</h6>
        </a>
    </div>
</div>

<div class=" col-md-2 col-sm-2">
    <div class="thumbnail">
        <a href="/Admin/IndexUser/">
            <img src="~/Content/img/User.png" computer man" style="width:50px;height:50px">
            <h6>Utilisateur !</h6>
        </a>
    </div>
</div>
<br />

