@model IEnumerable<ASPMaster.Models.Type>

@{
    ViewBag.Title = "Index";
    <br /><br /><br /><br /><br /><br />
}
@foreach (var type in Model)
{
    <div class=" col-md-3 col-sm-4">
        <div class="thumbnail">
            <div class="caption">
                <center>
                    <a href="/Home/listerProduitType?type=@type.Nom" class="btn btn-primary" role="button">@type.Nom</a>
                </center>
            </div>
        </div>
    </div>
}